body{ 
  padding: 2em;
  font : 75%/1.4 'Muli', arial, helvetica, helve, sans-serif; 
  width: 75%;
  margin: auto;
  color: white;
}

h1 { 
  font-size: 2.5em; 
  padding:0 0 .5em 0; 
}

h1 a{
  color: #523C25;
  text-decoration: none;
}

h2 { 
  font-size: 2em;
  color: white;
  text-shadow: 1px 1px black;
}

h3 {
  font-weight: bold;
}

section a {
  color: white;
  text-shadow: 1px 1px black;
}

header { 
  padding:1em 0; 
  text-align: center;
}

header img{
  width:100px;
  height: 100px;
}

.col { 
  background: #3E5225; 
}

nav{
  float: right;
}

nav a{
  color: #523C25;
}

section{
  height: 200px;
  text-align: center;
}

aside{
  height: 200px;
  text-align: center;
}

article h2{
  padding: 1em;
}

article img{
  padding: 1em;
  float: right;
  width: 50%;
}

article p{
  padding: 1em;
}

#classes{
  background-image: url(../images/class1-background.jpg);
  background-size: cover;
}

#private-lessons{
  background-image: url(../images/lesson2-background.jpg);
  background-size: cover;
}

#instructors{
  background-image: url(../images/nathan-lee-instructor-background.jpg);
  background-size: cover;
}

#testimonials{
  background-image: url(../images/target-background.jpg);
  background-size: cover;
}

section h2{
  padding-top: 75px;
}

aside h2{
  padding-top: 50px;
}

.col.span_6_of_6{
  padding: 1em;
}

.col.span_6_of_6 nav a{
  color: white;
}

